

{% block body %}
<form action="{{url_for('login_admin')}}" method="POST">

    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Login">
    </div>
</form>
{% endblock %}