{% extends 'admin/base.html' %}
{% block tail_js %}
    {{ super() }}
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    
    <link href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

    {% if admin_view.extra_js %}
        {% for js in admin_view.extra_js %}

            <script src="{{ url_for('static',filename='js/combobox.js') }}"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        {% endfor %}
    {% endif %}
{% endblock %}