<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin</title>

    <!-- Custom fonts for this template-->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static',filename='css/sb-admin-2.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/combobox.js')}}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <!-- Custom styles for this template-->
    <!-- <link href="css/sb-admin-2.min.css" rel="stylesheet">-->

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcomeeeee Back!</h1>
                                    </div>
                                    {% if error =='Login student error' %}
                                    <div class="alert alert-danger" role="alert">
                                        Đăng nhập thất bại
                                    </div>
                                    {% elif error =='Your account is blocked' %}
                                    <div class="alert alert-secondary" role="alert">
                                        Tài khoản của bạn đã bị khóa
                                    </div>
                                    {% elif send =='1' %}
                                    <div class="alert alert-primary" role="alert">
                                        Mật khẩu đã gửi tới email của bạn
                                    </div>
                                    {% endif %}
                                    <form class="user" action="/login" method="POST">

                                        <div class="form-group">
                                            <input type="mail" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address..." name=email>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password" name="password">
                                        </div>

                                        <button type="submit" class="btn btn-primary">Đăng nhập</button>
                                    </form>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#forgotpasss">
                                        Quên mật khẩu
                                    </button>
                                    <div class="modal" id="forgotpasss">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Quên mật khẩu</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/forgotpassword" method="post"
                                                        id="updatepassformforget">
                                                        <div class="form-group row">
                                                            <label for="passidold" class="col-sm-4 col-form-label">Email
                                                                của bạn
                                                                :</label>
                                                            <div class="col-sm-8">
                                                                <input type="email" class="form-control-plaintext"
                                                                    id="emailforgot" value="" name="email">
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" form="updatepassformforget"
                                                        id="changepassforget" value="Submit">
                                                        Save and Update
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
       <!-- Bootstrap core JavaScript-->
       <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
       <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
       <!-- Core plugin JavaScript-->
   
       <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
   
       <!-- Custom scripts for all pages-->
       <script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>
   
       <!-- Page level plugins -->
       <script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>
       <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
       <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
       <!-- Page level custom scripts -->
       <script src="{{ url_for('static',filename='js/demo/chart-area-demo.js') }}"></script>
       <script src="{{ url_for('static',filename='js/demo/chart-pie-demo.js') }}"></script>
       <script src="{{ url_for('static',filename='js/demo/chart-bar-demo.js') }}"></script>
   <script src="{{ url_for('static',filename='js/combobox.js') }}"></script>
       <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>
       <!-- @RenderSection("ClientScript", false) -->
   

</body>