{% extends "base/layout.html" %} {% block content %}
    <!-- Topbar Search -->

    <!-- Begin Page Content -->

    <div class="container-fluid">
        <!-- Page Heading -->

        {% if error %}
            <div class="alert alert-danger" role="alert">
                Sai mật khẩu
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success" role="alert">
                Đổi thành công
            </div>
        {% endif %}
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <!-- Refresh Databa -->

                <!-- Button to Open the Modal -->

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStudent">
                    Edit
                </button>
                <div class="modal" id="editStudent">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Chỉnh sửa thông tin học sinh</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/updatestudentinformation" method="post" id="updateform">
                                    <div class="form-group row">
                                        <label for="cateidlb" class="col-sm-4 col-form-label">Address
                                            :</label>
                                        <div class="col-sm-8">
                                            <input type="address" class="form-control-plaintext" id="address" value=""
                                                   name="address">
                                        </div>
                                        <label for="cateidlb" class="col-sm-4 col-form-label">Phone
                                            :</label>
                                        <div class="col-sm-8">
                                            <input type="phone" class="form-control-plaintext" id="phone" value=""
                                                   name="phone">
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="hidden" class="form-control-plaintext" id="hiddenid"
                                                   value="{{ classnamestudent.id }}" name="hiddenid">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" form="updateform" id="saveandsubmit" value="Submit">
                                    Save and Update
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editpassword">
                    Đổi mật khẩu
                </button>
                <div class="modal" id="editpassword">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Chỉnh sửa thông tin học sinh</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/updatestudenpassword" method="post" id="updatepassform">
                                    <div class="form-group row">
                                        <label for="passidold" class="col-sm-4 col-form-label">Mật khẩu cũ
                                            :</label>
                                        <div class="col-sm-8">
                                            <input type="readonly" class="form-control-plaintext" id="passidold"
                                                   value=""
                                                   name="passwordold">
                                        </div>
                                        <label for="passid" class="col-sm-4 col-form-label">Mật khẩu mới
                                            :</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control-plaintext" id="passid" value=""
                                                   name="passwordnew">
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="hidden" class="form-control-plaintext" id="hiddenid"
                                                   value="{{ classnamestudent.id }}" name="hiddenid">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" form="updatepassform" id="changepass" value="Submit">
                                    Save and Update
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            {# /////////////////////////////////////////////////////////////////////#}
            <div class="card-body">

                <div class="form-group row">
                    <label for="cateidlb" class="col-sm-4 col-form-label">Email
                        :</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control-plaintext" id="cateidlb" value="{{ datainfor.email }}"
                               name="email">
                    </div>
                    <label for="namelb" class="col-sm-4 col-form-label">FirstName
                        :</label>
                    <div class="col-sm-8">
                        <input type="firstname" class="form-control-plaintext" id="namelb"
                               value="{{ datainfor.firstname }}" name="firstname">
                    </div>
                    <label for="namelb" class="col-sm-4 col-form-label">Lastname
                        :</label>
                    <div class="col-sm-8">
                        <input type="lastname" class="form-control-plaintext" id="namelb"
                               value="{{ datainfor.lastname }}" name="lastname">
                    </div>
                    <label for="namelb" class="col-sm-4 col-form-label">Address
                        :</label>
                    <div class="col-sm-8">
                        <input type="Address" class="form-control-plaintext" id="namelb" value="{{ datainfor.address }}"
                               name="address">
                    </div>
                    <label for="namelb" class="col-sm-4 col-form-label">Age
                        :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control-plaintext" id="namelb" value="{{ datainfor.age }}"
                               name="age">
                    </div>
                    <label for="namelb" class="col-sm-4 col-form-label">Sex
                        :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control-plaintext" id="namelb" value="{{ datainfor.sex }}"
                               name="sex">
                    </div>
                    <label for="namelb" class="col-sm-4 col-form-label">Birthday
                        :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control-plaintext" id="namelb" value="{{ datainfor.birthday }}"
                               name="birthday">
                    </div>
                    <label for="namelb" class="col-sm-4 col-form-label">Your Class
                        :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control-plaintext" id="namelb"
                               value="{{ classnamestudent.name }}" name="classid">
                    </div>
                    <label for="namelb" class="col-sm-4 col-form-label">Payment Status
                        :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control-plaintext" id="namelb" value="{{ datainfor.Payment }}"
                               name="classid">
                    </div>


                </div>

            </div>


        </div>
    </div>
    <!-- /.container-fluid -->



{% endblock %}