{% block script %}
<!-- Bootstrap core JavaScript-->

<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
 <!-- Core plugin JavaScript-->

<script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static',filename='js/sb-admin-2.min.js')}}"></script>

 <!-- Page level plugins -->
<script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js')}}"></script>
<script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>
<!-- Page level custom scripts -->
<script src="{{ url_for('static',filename='js/demo/chart-area-demo.js')}}"></script>
<script src="{{ url_for('static',filename='js/demo/chart-pie-demo.js')}}"></script>
<script src="{{ url_for('static',filename='js/demo/chart-bar-demo.js') }}"></script>

<script src="{{ url_for('static',filename='js/demo/datatables-demo.js')}}"></script>
<!-- @RenderSection("ClientScript", false) -->
    <script src="{{ url_for('static',filename='js/chartteacher.js')}}"></script>
    <script src="{{ url_for('static',filename='js/editscore.js')}}"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


{% endblock %}
