{% block side %}
<!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index')}}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Trường THPT Thiên Nhi</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang Học Sinh</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản Lý
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#diemhs"
            aria-expanded="true" aria-controls="diemhs">
            <i class="fas fa-fw fa-search"></i>
            <span>Chức năng</span>
        </a>
        <div id="diemhs" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                <a class="collapse-item" href="{{url_for('hsscore')}}">Điểm</a>
            </div>
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                <a class="collapse-item" href="{{url_for('studentinformation')}}">Thông tin học sinh</a>
            </div>
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                <a class="collapse-item" href="{{url_for('thanhtoan')}}">Thanh Toán</a>
            </div>
        </div>
    </li>


    <!-- Nav Item - Utilities Collapse Menu -->
   
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        

    </ul>
<!-- End of Sidebar -->
{% endblock %}