{% block side %}
<!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index')}}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Trường THPT Thiên Nhi</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang Giáo Viên</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản Lý
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#editscoretable"
            aria-expanded="true" aria-controls="editscoretable">
            <i class="fas fa-fw fa-search"></i>
            <span>Quản Lý</span>
        </a>
        <div id="editscoretable" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="{{url_for('editscore')}}">Điểm học sinh</a>
                <a class="collapse-item" href="{{url_for('scorechart')}}">Thống kê</a>
            </div>
        </div>
    </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        

        <!-- Nav Item - Pages Collapse Menu -->
        

        <!-- Nav Item - Charts -->
        
    </ul>
<!-- End of Sidebar -->
{% endblock %}