<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản lý học sinh</title>

    <!-- Custom fonts for this template-->
    {% include 'blocks/style.html' %}

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    {% if type == 1 %}
        {% include 'blocks/side_student.html' %}
    {% elif type == 2 %}
        {% include 'blocks/side_teacher.html' %}
    {% elif type == 0 %}
        {% include 'blocks/side.html' %}
    {% else %}
        {% include 'blocks/side.html' %}
    {% endif %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include 'blocks/header.html' %}
            <!-- Begin Page Content -->
            {% block content %}
                <!-- /.container-fluid -->
            {% endblock %}

        </div>
        <!-- End of Main Content -->
        {% include 'blocks/footer.html' %}
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->

{% include 'blocks/script.html' %}
</body>

</html>