{% extends "base/layout.html" %}
{%block content%}


    {% if hs.Payment != '1' %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div id="paypal-button"></div>
    <input type="hidden" class="form-control-plaintext" id="idhs"
                                                   value='id'
                                                   name="name">
    {% else %}
        <button type="button" class="btn btn-success" id="saveandsubmit">
                    Đã thanh toán
                </button>
    {% endif %}
    </div>
    <!-- /.container-fluid -->


    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>
        var CREATE_PAYMENT_URL  = 'http://127.0.0.1:5000/payment';
        var EXECUTE_PAYMENT_URL = 'http://127.0.0.1:5000/execute';
        idhocsinh = document.getElementById("idhs");
        paypal.Button.render({
    
            env: 'sandbox', // Or 'sandbox'
    
            commit: true, // Show a 'Pay Now' button
    
            payment: function() {
                return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                    return data.paymentID;
                });
            },
    
            onAuthorize: function(data) {
                return paypal.request.post(EXECUTE_PAYMENT_URL, {
                    paymentID: data.paymentID,
                    payerID:   data.payerID
                }).then(function(res) {
    
                    console.log(res.success)
                    alert('Thanh Toán Thành Công')
                    location.reload()
                    // The payment is complete!
                    // You can now show a confirmation message to the customer
                });
            }
    
        }, '#paypal-button');
    </script>
{% endblock %}